* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background: #f3f3f3;
    font-family: 'Arial';
}

h1 {
    font-size: 24px;
    color: #39930d;
    font-weight: bold;
    margin-bottom: 20px;
}
.flex-between {
    display: flex;
    justify-content: space-between;
    
}

.flex {
    display: flex;
    gap: 8px;
    align-items: center;
}
ul {
    list-style: none;
}

section {
   padding: 21px 0;
}

footer {
    padding: 8px 135px;
    background: #39930d;

}

.wrapper {
    margin: auto;
    max-width: 960px;
    padding: 15px 16px;
}

.bg-white {
    background-color: white;
}
.header {
   padding: 0 0 15px 0 ;;
}

.header p {
    color: #5a5a5a;
}

.header a {
    color: #5a5a5a;
    font-weight: bold;
    text-decoration: none;
}
.ball b {
    display: block;
    font-size: 24px;
    color: #39930d;
}
.number {
    align-items: center;
    gap: 29px;
}
.number img {
    margin-right: 3px;
}

.img img {
  padding-bottom: 10px;
}

.big img {
    width: 100%;
}

.small ul {
    display: flex;
    justify-content: space-between;
    
}

.small img {
    width: 225px;
    height: 120px;
}

.block1 {
    max-width: 300px;
}

.block1 h2 {
    text-transform: uppercase;
    min-width: 262px;
    font-size: 18px;
    color: #ffffff;
    padding: 9px 19px;
    background-color: #39930d;
}

.block1 ul {
    padding: 20px;
}

.block1 a {
    font-size: 14px;
    line-height: 30px;
    text-decoration: underline;
    text-transform: uppercase;
    color: #343434;
}

.block2 p {
    line-height: 21px;
    font-size: 14px;
    margin-bottom: 18px;
    color: #343434;
}

.contacts p {
    margin-top: 5px;
    color: #ffffff;
}

.contacts img {
    margin-top: 2px;
}

